body{
    background-color: #F1F5F9;
    font-family: Arial, sans-serif;
}

#text{
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    background-color: #10115d;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#space{
    height: 7px;
    background-color: aliceblue;
}

#nav{
    background-color: #03398a;
    color: white;
    margin-bottom: 30px;
    align-items: center;
    height: 50px;

}

.input{
    margin-top: 15px;
    margin-left: 25px;
    height: 25px;
    background-color: #03398a;
    color: #F1F5F9;
}

.input:hover{
    background-color: #F1F5F9;
    color: black;
}

#title{
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
    text-decoration: underline;
}

.main_box{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: auto;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.top_box{
    margin-top: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.down_box{ 
    display: flex; 
    justify-content: center; 
    align-items: center;

}

.fot{
    text-align: center;
    background-color: black;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.first_over{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: auto;
    display: inline-flex;
}

.commen-table {
  width: 100%;
  border-collapse: collapse; /* Merges borders into single lines */
  margin: 20px 0;
  font-family: sans-serif;
  
  /* Adds the outer shadow around the table */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

/* Styles for both headers and cells */
.commen-table th, 
.commen-table td {
  padding: 12px 15px;
  text-align: left;
  
  /* Creates the inside lines between columns and rows */
  border: 1px solid #dddddd; 
}

/* Optional: Adds a distinct background to the table header */
.commen-table thead tr {
  background-color: #f4f4f4;
  color: #333333;
}