#title{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    margin-top: 30px;
}

.hostel{
    height: 25px;
    width: 700px;
    margin-left: 10px;
    margin-top: 20px;
}

.name{
    font-size: 25px;
}

.mar{
    margin-top: 25px;
    margin-left: 25px;
}

.mo{
    height: 25px;
    width: 200px;
    margin-top: 20px;
    margin-left: 15px;
}

#query{
    margin-top: 20px;
     height: 50px;
}