body{
    background-color: #F1F5F9;
    font-family: Arial, sans-serif;
}

#text{
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    background-color: #10115d;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#space{
    height: 7px;
    background-color: aliceblue;
}

#nav{
    background-color: #03398a;
    color: white;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    height: 50px;

}

.input{
    margin-top: 15px;
    margin-left: 25px;
    height: 25px;
    background-color: #03398a;
    color: #F1F5F9;
    border-color: #03398a;
}

.input:hover{
    background-color: #F1F5F9;
    color: black;
}

.fot{
    text-align: center;
    background-color: black;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.top_box{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 800px;
}

#top{
   margin-left: 35px;
}

#first_box{
    display: flex;
    align-items: center;
    justify-content: left;
}

.second_top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 95%;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-left: 47px;
}

#second_title{
    margin-left: 35px;

}

.second_last{
    height: auto;
    display: flex;
    width: 95%;
    
}

.adjust{
    font-size: 21px;
    margin-left: 35px;
    font-style: normal;
}

.center{
    width: 95%;
    height: auto;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-left: 47px;
}

.second_last_2{
    height: auto;
    display: inline-flex;
    width: 100%;
}